html { position: relative; min-height: 100%; font-size: 0.9rem; }
body { margin-bottom: 60px; padding-top: 70px; font-family:"Segoe UI","Segoe","Helvetica Neue",Helvetica,Arial,sans-serif; }
.footer { position: absolute; bottom: 0; width: 100%; height: 48px; padding-top:6px; }
.navbar-brand>img{ display:inline;margin:0 10px; } /* add height:100% for bigger images */
main { font-size:1.2rem; }
a { color:rgba(51,122,183,1.0); }
h2 { padding-top: 35px; }
.headshot { float:right; margin:5px; }
.jumbotron>img{ display: block; margin-left: auto; margin-right: auto; }
.jumbotron>h1{ font-family:Helvetica;text-align:center; }
.carousel-indicators { bottom: 0px; margin-bottom: 0px; }
.text-muted-custom { color: rgba(0,0,0,0.7); }
.navbar-custom .navbar-nav .nav-item a { color: rgba(0,0,0,0.7); }
.navbar-custom .navbar-nav .nav-item a:active,
.navbar-custom .navbar-nav .nav-item a:hover, 
.navbar-custom .navbar-nav .nav-item a:focus {
  color: #CEE379;
  background-color: #196633;
}
.navbar-custom .navbar-nav .active>.nav-link,
.navbar-custom .navbar-nav .active a:active,
.navbar-custom .navbar-nav .active a:hover,
.navbar-custom .navbar-nav .active a:focus{
  color: #3AB34A; background: #fff
}
.hidden {
  display: none;
}
.sx-verified-seal {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(/images/psytoday.svg);
  width: 146px;
  height: 46px;
  margin-bottom: 0em;
  padding-bottom: 0em;
}